<a routerLinkActive='ativo' routerLink='produtos' [routerLinkActiveOptions]='{exact: true}'>Listar Produtos</a> <br>
<a routerLinkActive='ativo' routerLink='produtos/novo' [routerLinkActiveOptions]='{exact: true}'> Adicionar Produto</a> <br>
<a routerLinkActive='ativo' routerLink='usuarios' [routerLinkActiveOptions]='{exact: true}'>Listar Usuários</a> <br>
<a routerLinkActive='ativo' routerLink='usuarios/novo' [routerLinkActiveOptions]='{exact: true}'>Adicionar Usuário</a> <br>
<router-outlet></router-outlet>

