<h1>User Information</h1>
<div>
<div class="row">
    <label class="col-6">First Name</label>
    <div class="col-6">{{user.firstName}}</div>
</div>
<div class="row">
    <label class="col-6">Last Name</label>
    <div class="col-6">{{user.lastName}}</div>
</div>
<div class="row">
    <label class="col-6">E-mail</label>
    <div class="col-6">{{user.email}}</div>
</div>
<div class="row">
    <label class="col-6">Zip Code</label>
    <div class="col-6">{{user.zipCode}}</div>
</div>
<div class="row">
    <label class="col-6">Password</label>
    <div class="col-6">{{user.password}}</div>
</div>
</div>